{% extends "base.html" %}

{% block content %}
<div>
    <main role="main" class="container">
        <h3>File Upload</h3>

        {% from 'bootstrap4/form.html' import render_form %}

        {{ render_form(form, method="POST", action='', enctype='multipart/form-data') }}

    </main>

    {% if day_fig %}
    <main role="main" class="container">
        <img src="data:image/png;base64,{{day_fig}}"/>
    </main>
    {% endif %}

    {%if tables %}
    <p>Yahoooo!</p>
    <div>
        {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}